@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.header {
    height: 55px;
    background-color: #FFFFFF;
    border-bottom: #DFDFDF 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}

.header .logo {
    width: 135px;
    height: 31px;
}

.header .right {
    display: flex;
    align-items: center;
}

.header .link {
    font-family: 'Montserrat', sans-serif;
    font-size: 19.5px;
    color: #000000;
    text-decoration: none;
    margin-left: 32px;
}

.header .profile {
    width: 38.63px;
    height: 36px;
    margin-left: 24px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 0 48px
}

.dashboard-float {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.dashboard {
    margin-top: 24px;
    width: 360px;
    height: 100px;
}

.dashboard .top {
    position: relative;
}

.top .welcome {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000;   
    text-align: left;
}

.top .name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #000000;
    text-align: left;
}

.top .online-status {
    position: absolute;
    top: 0;
    right: 0;
}

.online-status .online-count {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.online-status .count {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #333333;
}

.online-status .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: right;
    color: #333333;
}

.online-status .indicator {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #47FC6F;
    margin-left: 8px;
}

.top .statistics {
    background-color: #EFF2F9;
    box-shadow: 0px 4px 32px #EFF2F9;
    border-radius: 16px;
    width: 336px;
    height: 436px;
    margin-top: 16px;
    padding: 18px 12px;
}

.statistics .workout {
    background: #FFFFFF;
    border-radius: 8px;
    height: 80px;
    padding: 10px 12px;
}

.workout .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #333333;
    text-align: left;
}

.workout .description {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #333333;
    text-align: left;
}

.workout .scores {
    display: flex;
}

.scores .lifetime {
    display: flex;
    align-items: center;
}

.lifetime .score {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 38px;
    background: linear-gradient(180deg, #FF9A51 0%, #FF6262 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lifetime .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    margin-left: 8px;
}

.scores .last {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.last .score {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 38px;
    background: linear-gradient(180deg, #47FC6F 0%, #70C3FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.last .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    margin-left: 8px;
}

.statistics .row {
    display: flex;
    justify-content: space-between;
}

.statistics .active {
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 12px;
    height: 68px;
    width: 84px;
    padding: 8px;
}

.active .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #333333;
}

.active .description {
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    color: #333333;
}

.active .time {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 12px;
    background: linear-gradient(180deg, #7A4CFD 0%, #03BFFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics .areas {
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 12px;
    height: 68px;
    width: 207px;
    padding: 8px;
}

.areas .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #333333;
    text-align: left;
}

.areas .description {
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    color: #333333;
    text-align: left;
}

.areas .items {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.items .item {
    display: flex;
}

.item .rank {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #333333;
    text-align: left;
    margin-left: 4px;
}

.item .name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #333333;
    text-align: left;
    margin-left: 4px;
}

.statistics .calendar {
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 12px;
    height: 210px;
    padding: 8px
}

.calendar .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #333333;
    text-align: left;
}

.fc {
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
    height: 175px;
}

.fc .fc-toolbar {
    display: none;
}

.fc .fc-col-header-cell-cushion {
    font-size: 12px;
}


.fc .fc-event-title {
    font-size: 10px;
}

.sessions {
    width: 660px;
    margin-top: 24px;
}

.sessions .title {
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    text-align: left;
}

.sessions .starter {
    width: 63px;
    height: 124px;
    margin-right: 20px;
}

.sessions .container {
    margin-top: 16px;
    display: flex;
    align-items: center;
}