@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
.home {
  .header {
    height: 55px;
    background-color: #ffffff;
    border-bottom: #dfdfdf 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
  }

  .header .logo {
    width: 135px;
    height: 31px;
  }

  .header .right {
    display: flex;
    align-items: center;
  }

  .header .link {
    font-family: 'Montserrat', sans-serif;
    font-size: 19.5px;
    color: #000000;
    text-decoration: none;
    margin-left: 32px;
  }

  .header .profile {
    width: 38.63px;
    height: 36px;
    margin-left: 24px;
  }

  .content {
    padding: 0 48px;
    display: flex;
  }

  .dashboard-float {
    display: flex;
  }

  .dashboard {
    margin-top: 24px;
    width: 31vw;
    height: 100px;
    padding-right: 3vw;
  }

  .dashboard .top {
    position: relative;
  }

  .top .welcome {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000;
    text-align: left;
  }

  .top .name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #000000;
    text-align: left;
  }

  .top .online-status {
    position: absolute;
    top: 0;
    right: 0;
  }

  .online-status .online-count {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .online-status .count {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #333333;
  }

  .online-status .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: right;
    color: #333333;
  }

  .online-status .indicator {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #47fc6f;
    margin-left: 8px;
  }

  .top .statistics {
    background-color: #eff2f9;
    box-shadow: 0px 4px 32px #eff2f9;
    border-radius: 16px;
    width: 30vw;
    height: 73vh;
    margin-top: 16px;
    padding: 18px 12px;
  }

  .statistics .workout {
    background: #ffffff;
    border-radius: 8px;
    height: 15vh;
    padding: 10px 12px;
  }

  .workout .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #333333;
    text-align: left;
  }

  .workout .description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    text-align: left;
  }

  .workout .scores {
    display: flex;
  }

  .scores .lifetime {
    display: flex;
    align-items: center;
  }

  .lifetime .score {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 64px;
    margin-right: 10px;
    background: linear-gradient(180deg, #ff9a51 0%, #ff6262 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .lifetime .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #333333;
    margin-left: 8px;
  }

  .scores .last {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }

  .last .score {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 64px;
    margin-right: 10px;
    background: linear-gradient(180deg, #47fc6f 0%, #70c3ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .last .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #333333;
    margin-left: 8px;
  }

  .statistics .row {
    display: flex;
    justify-content: space-between;
  }

  .statistics .active {
    background: #ffffff;
    border-radius: 8px;
    margin-top: 12px;
    height: 15vh;
    width: 15vh;
    padding: 8px;
  }

  .active .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #333333;
  }

  .active .description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
  }

  .active .time {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-top: 2.5vh;
    background: linear-gradient(180deg, #7a4cfd 0%, #03bfff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .statistics .areas {
    background: #ffffff;
    border-radius: 8px;
    margin-top: 12px;
    height: 15vh;
    width: 20.25vw;
    padding: 8px;
  }

  .areas .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #333333;
    text-align: left;
  }

  .areas .description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    text-align: left;
  }

  .areas .items {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
  }

  .item {
      img {
          height: 48px;
      }
  }

  .items .item {
    display: flex;
  }

  .item .rank {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #333333;
    text-align: left;
    margin-left: 4px;
  }

  .item .name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    text-align: left;
    margin-left: 4px;
  }

  .statistics .calendar {
    background: #ffffff;
    border-radius: 8px;
    margin-top: 12px;
    height: 35vh;
    padding: 8px;
  }

  .calendar .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #333333;
    text-align: left;
  }

  .fc {
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
    height: 30vh;
  }

  .fc .fc-toolbar {
    display: none;
  }
  .fc .fc-event-time {
      font-size: 12px;
  }

  .fc .fc-col-header-cell-cushion {
    font-size: 12px;
  }

  .fc .fc-event-title {
    font-size: 10px;
  }

  .sessions {
    margin-top: 24px;
  }

  .sessions .title {
    font-weight: 500;
    font-size: 32px;
    color: #000000;
    text-align: left;
  }

  .sessions .starter {
    height: 180px;
    margin-right: 20px;
    margin-left: -20px;
  }

  .sessions .container {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
}
