.videos {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 75vw;
  justify-content: center;

  video {
    background: #333333;
    border-radius: 20px;
    height: 82vh;
    width: 33vw;
    margin: 0 1.5vw;
    object-fit: cover;
    object-position: center;
  }

  .react-p5 {
    border-radius: 20px;
    height: 82vh;
    width: 33vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5vw;

    canvas {
      height: 100%;
    }
  }

  p {
    color: black !important;
  }
}
