.videos {
  display: flex;
  align-items: center;
  // height: 90vh;
  // width: 75vw;
  justify-content: space-between;
  padding: 0 1.8vw;

  .super-border {
    z-index: 10000000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    box-sizing: border-box;
    border: double 8px transparent;

    border-image-slice: 1;
    border-width: 8px;
  }

  video {
    background: #333333;
    border-radius: 20px;
    height: 82vh;
    width: 33vw;
    margin: 0 1.5vw;
    object-fit: cover;
    object-position: center;
  }

  .microphone-button {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 16px;
    right: calc(1.5vw + 56px + 16px);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15.0821px);
    border-radius: 10.258px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  .local-exercise {
    z-index: 2;
    height: 60px;
    width: 14vw;
    //background-color: white;
    position: absolute;
    right: 5px;
    top: -10px;
    border: double 5px transparent;
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;

    // Default border
    background-image: linear-gradient(white, white), 
    linear-gradient(180deg, #21E935 0%, #12941F 100%);

    &.resting {
      background-image: linear-gradient(white, white), 
      linear-gradient(180deg, #21E935 0%, #12941F 100%);
    }

    &.active {
      background-image: linear-gradient(white, white), 
      linear-gradient(180deg, #FF4444 0%, #F57A21 100%);
    }

    p {
      margin: 10px;
      margin-bottom: 5px;
      font-size: 9px;
    }

    .current-exercise {
      margin-top: 0px !important;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .remote-exercise {
    z-index: 2;
    height: 60px;
    width: 14vw;
    //background-color: white;
    position: absolute;
    right: 5px;
    top: -10px;
    border: double 5px transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, white), 
                      linear-gradient(180deg, #FF4444 0%, #F57A21 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    p {
      margin: 10px;
      margin-bottom: 5px;
      font-size: 9px;
    }

    .current-exercise {
      margin-top: 0px !important;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .video-button {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 16px;
    right: calc(1.5vw + 16px);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15.0821px);
    border-radius: 10.258px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 24px;
      height: 24px;
    }
  }
  .local-video {
    position: relative;

    .video {
      transform: scaleX(-1);
    }

    .microphone-button {
      cursor: pointer;
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: 16px;
      right: calc(1.5vw + 56px + 16px);
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(15.0821px);
      border-radius: 10.258px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: 24px;
        height: 24px;
      }
    }

    .video-button {
      z-index: 1;
      cursor: pointer;
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: 16px;
      right: calc(1.5vw + 16px);
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(15.0821px);
      border-radius: 10.258px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }
  .instructor-tag {
    position: absolute;
    bottom: 24px;
    left: 48px;

    width: 132px;
    height: 22px;
    padding: 8px;

    background: #ffffff;
    border: 1px solid #000000;
    backdrop-filter: blur(27px);
    border-radius: 5px;

    display: flex;
    align-items: center;

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    .title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 10px;
      color: #333333;
    }

    .name {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      color: #333333;
    }
  }
  .remote-video {
    position: relative;

    .video {
      transform: scaleX(-1);
    }

    .scores {
      position: absolute;
      bottom: 16px;
      left: calc(1.5vw + 16px);
      z-index: 1;

      .score {
        width: 127px;
        height: 41px;
        background: rgba(114, 114, 113, 0.5);
        backdrop-filter: blur(32px);
        border-radius: 7px;
        padding: 10px 12px;
        display: none;
        align-items: center;
        margin-top: 8px;

        .col {
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
        }

        .value {
          width: 40px;
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          font-size: 31px;
          color: #FFFFFF !important;
          margin-right: 8px;
          text-align: center;
        }

        .word {
          width: 40px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 300;
          font-size: 11px;
          color: #FFFFFF !important;
          text-align: center;
        }

        .message {
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: #FFFFFF !important;
        }

        &:nth-last-child(1) {
          display: flex;
        }

        &:nth-last-child(2) {
          display: flex;
          opacity: 0.5;
        }

        &:nth-last-child(3) {
          display: flex;
          opacity: 0.25;
        }
      }
    }
  }

  .react-p5 {
    border-radius: 20px;
    height: 82vh;
    width: 33vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5vw;

    canvas {
      height: 100%;
    }
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #000000;
  }

  .statistics {
    background-color: #eff2f9;
    box-shadow: 0px 4px 32px #eff2f9;
    border-radius: 16px;
    height: 72.5vh;
    width: 22vw;
    margin-top: 16px;
    padding: 16px;
  }

  .statistics .performance {
    background: #ffffff;
    border-radius: 8px;
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
  }

  .performance .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #263238;
    position: absolute;
    top: 10px;
    left: 12px;
  }

  .performance .description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #333333;
    position: absolute;
    top: 32px;
    left: 12px;
  }

  .performance .score {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #ffac71 !important;
    position: absolute;
    top: 10px;
    right: 12px;
  }

  .statistics .workout {
    background: #ffffff;
    border-radius: 8px;
    height: 200px;
    padding: 10px 12px;
    margin-top: 12px;
  }

  .workout .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #000000;
  }

  .workout .split {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;

    .col-name {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #000000;
    }

    .data-name {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #000000;
    }

    .data-value {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #000000;
    }
  }

  .workout .divider {
    height: 1px;
    background-color: #dfdfdf;
    margin-top: 6px;
  }

  .statistics .row {
    display: flex;
    justify-content: space-between;
  }

  .statistics .active {
    background: #ffffff;
    border-radius: 8px;
    margin-top: 12px;
    height: 95px;
    width: calc(50% - 16px - 8px);
    padding: 8px;
  }

  .active .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #333333;
    text-align: center;
  }

  .active .description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    text-align: center;
  }

  .active .time {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-top: 8px;
    background: linear-gradient(180deg, #7a4cfd 0%, #03bfff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  .statistics .calories {
    background: #ffffff;
    border-radius: 8px;
    margin-top: 12px;
    height: 95px;
    width: calc(50% - 16px - 8px);
    padding: 8px;
  }

  .calories .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #333333;
    text-align: center;
  }

  .calories .description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    text-align: center;
  }

  .calories .count {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-top: 8px;
    background: linear-gradient(180deg, #e54851 0%, #ffa768 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  .areas {
    background: #ffffff;
    border-radius: 8px;
    margin-top: 12px;
    height: 95px;
    width: calc(100% - 16px);
    padding: 8px;
  }

  .areas .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #333333;
    text-align: left;
  }

  .areas .items {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }

  .items .item {
    display: flex;

    img {
      height: 48px;
    }
  }

  .item .rank {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    text-align: left;
    margin-left: 4px;
  }

  .item .name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    text-align: left;
    margin-left: 4px;
  }

  p {
    color: black !important;
  }
}
